# ====================
# 운영체제 관련
# ====================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ====================
# IDE / 에디터 관련
# ====================
.idea/
*.iml
*.iws
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# ====================
# Java / Spring Boot
# ====================
*.class
*.jar
*.war
*.ear
*.log
*.project
application.properties
target/
*.clas*
